
<div class="table-responsive">
	<table id="userList"
		class="table table-bordered table-hover table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">First</th>
				<th scope="col">Last</th>
				<th scope="col">Username</th>
				<th scope="col">E-mail</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<!--tr: queremos que este tr maneje un for interno para  mostrar informacion que queremos-->
			<!-- th: para referirnos a thymeleaf each: es como un for each -->
			<!-- user: ${userList}: traemos del objeto user su lista -->
			<tr th:each="user: ${userList}">
				<td th:text="${user.id}"></td>
				<!-- esto codigo es = a user.getId(); -->
				<td th:text="${user.firstName}"></td>
				<td th:text="${user.lastName}"></td>
				<td th:text="${user.email}"></td>
				<td th:text="${user.username}"></td>
				<td><a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i
						class="fas fa-edit"></i></a> | <a href="#"
					th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i
						class="fas fa-user-times"></i></a></td>
			</tr>

		</tbody>
	</table>
	
</div>

<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
    window.location = "deleteUser/"+id;
}
</script>